# Environment
REACT_APP_ENV=development

# Backend API
REACT_APP_API_URL=http://localhost/api

# Theme Configuration
REACT_APP_THEME_PRIMARY_COLOR=#2563EB
REACT_APP_THEME_SECONDARY_COLOR=#10B981

# Development Settings
GENERATE_SOURCEMAP=false
WDS_SOCKET_PORT=0
CHOKIDAR_USEPOLLING=true 